.box{
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    margin: 5px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.imgPocemon{
    width: 200px;
    height: 200px;
}
#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}